/*Collective start*/

/*Collective end*/

/* Qiyu Hu start*/
/* home page */



/* Qiyu Hu end*/

/* Helen Lim start*/
/* Resource page */


/* Helen Lim end*/

/* Ethan start */
/* Carousel */

.hidden {
  display: none;
}

.arrow-button {

}

.image-button {

}

.dark {

}

.light {

}

.carouselhead {

}

.carouselparas {

}
/* Ethan end */

/* Xinyue Shi start*/
/* tabs */
.accessible-hidden{
  position: absolute;
  left: -10000px;
  top:auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Xinyue Shi end*/
