.hidden {
  display: none;
}

.arrow-button {

}

.image-button {

}

.dark {

}

.light {

}

.carouselhead {

}

.carouselparas {

}




/* tabs */
.accessible-hidden{
  position: absolute;
  left: -10000px;
  top:auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
