/* Collective start */
html {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p{
  line-height: 32px;
}
/* Navigation Bar start*/
.header {
    background: white;
    display: flex;
    flex-direction: row;
}

nav {
    position: static;
    top: 0;
    width: 100%;
    /* padding-left: 300px; */
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 50px;
}

nav a {
    color: #BACC81;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}

nav a:hover {
    background: #BACC81;
    border-radius: 3%;
    color: white;
    font-weight: bold;
}
/* Navigation Bar end */

main {
    margin-top: 25px; /*so main content doesn't overlap with nav bar*/
}

/* Collective end */

/* Qiyu Hu start */

main.home{
  z-index: 4;
  position: relative;
  top: -150px;
  width: 60%;
  margin: auto;
  background-color: white;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 2px;
}

.margin-top{
  margin-top: 120px;
}


.expectation{
  text-align:center;
  border-style: ridge;
  border-color: #BACC81;
  border-width: 4px;
  border-radius: 8px;
  padding: 64px;
  color: #acb981;
}

.relative{
  position: relative;
}

.description-absolute{
  border-radius: 8px;
  position: absolute;
  border: 3px solid #73AD21;
  top: 0;
  bottom: 0;
  padding: 4% 40px;
  margin: 0 0;
  line-height: normal;
  /* text-align:center;*/
  background-color: #BACC81;
  color: white;
}
/* home page */



/* Qiyu Hu end */

/* Xinyue Shi start */
/* courses page */
.coursepage{
  margin-bottom: 5%;
}
#coursepic{
  padding-left: 15%;
  padding-bottom: 5%;
}
.left a{
  background-color: white;
  color: #3f5938;
  font-size: 110%;
  padding: 3%;
  position: relative;
  top:46px;
  padding-left: 8%;
  padding-right: 8%;
  cursor: pointer;
  border-radius: 3%;
  text-decoration: none;
}
#illustration{
  font-size: 64%;
  position: relative;
  top:58px;
}
.accessible-hidden{
  position: absolute;
  left: -10000px;
  top:auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.coursebuttons{
  border-bottom: 1px solid grey;
}
.upper{
  display: flex;
  background-image:linear-gradient(to right,#3f5938,#BACC81);
  padding-top: 4%;
}
.left{
  color:white;
  margin-left: 10%;
}
#button-about{
  margin-left: 10%;
}
#button-about, #button-content, #button-instructors, #button-outcome, #button-faq{
  background-color: white;
  font-size: 110%;
  padding: 1.25%;
  padding-left:0;
  border: none;
  cursor: pointer;
}
#button-about:hover, #button-content:hover, #button-instructors:hover, #button-outcome:hover, #button-faq:hover{
  color: #3f5938;
}
#button-about:focus, #button-content:focus, #button-instructors:focus, #button-outcome:focus, #button-faq:focus{
  color: #3f5938;
}
.courseinfo{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
}
#tab-about{
  display: flex;
}
.aboutinfo{
  width: 65%;
}
.aboutinfo p{
  margin-top: 2%;
}
.aboutbullets{
  margin:5%;
  padding:2%;
  width: 35%;

}
.aboutbullets h3{
  color: grey;
  margin-top: 0;
  text-align: center;
  font-size: 140%;
  font-family: serif;
}
.aboutbullets p{
  border-radius: 25px;
  padding: 1%;
  margin:2%;
  background-color:	#F2F2F2	;
  text-align: center;
}
.week1, .week2, .week3, .week4, .week5{
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

#tab-content h4{
  color:grey;
  font-family: monospace;
  font-size: 200%;
  margin: 0;
  font-weight: lighter;
}
.weeknum{
  align-items: center;
}
.weekcontent{
  position: relative;
  left:300px;
  padding-left: 2%;
  border-left: 1px solid grey;
}
#tab-content h3,p{
  margin:0;
  padding: 0
}
#tab-content h3{
  font-size: 220%;
  font-weight: lighter;
}

/* Xinyue Shi end */

/* Helen Lim start */
/* resource page */
.title {
    color: white;
    background-color: #3f5938;
    padding: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.subtitle {
    margin-left: 50px;
}

.research {
    text-decoration: none;
    margin-left: 50px;
}

.research a {
    text-decoration: none;
    color: #3f5938;
}

.publications {
    text-decoration: 50px;
    margin-left: 50px;
}

.publications li {
    margin: 10px;
}
/* Helen Lim end */

/* Ethan start */
/* gallery page */

.hidden {
  display: none;
}

.arrow-button {

}

.image-button {

}

.dark {

}

.light {

}

.carouselhead {

}

.carouselparas {

}
/* Ethan end */

/* Footer start */
footer {
    background: #BACC81;
    margin-top: auto;
    padding: 20px;
}

.footer-button {
    color: white;
    text-decoration: none;
}

/* Footer end */
